$dark: #000;
$light: #fff;

$primary: #f38e8e;
$primary100: #f00;
$primary900: #3c0e0e;
$primary700: #610b0b;
$primary800: #140303;
$secondary: #8ef3a8;
$secondary800: #0e3c10;
$decorate: #d78ef3;
$decorate800: #ff00f5;
