.overlay {
  position: relative;
  max-width: 1200px;
  width: 100%;

  &::before {
    position: absolute;
    content: '';
    top: -8px;
    left: -8px;
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    opacity: 1;
    filter: blur(5px);
    background: linear-gradient(45deg, $primary100, $primary900, $primary100);
    background-size: 400%;
    transition: opacity 0.3s ease-in-out;
    animation: animate 20s linear infinite;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
